.productos-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    /* justify-content: center; */

    
}
.productos-card__img{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: antiquewhite;
    margin: 1rem;
    border-radius: 5px;
   
    
}
.products-img{
    width: 50%;
    justify-content: center;

}
.productos-card__txt{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}
.button-style{
    background-color: rgba(43, 226, 226, 0.664);
    padding:5px;
    border-radius: 5px;
}